body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Montserrat;
  src: local('./static/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat;
  src: local('./static/fonts/Montserrat-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: Montserrat;
  src: local('./static/fonts/Montserrat-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Montserrat;
  src: local('./static/fonts/Montserrat-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: local('./static/fonts/Montserrat-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: local('./static/fonts/Montserrat-Bold.ttf');
  font-weight: 600;
}

*{
  margin-block-start: 0;
  margin-block-end: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
